body{background-color: antiquewhite;}
h1
    {
    text-align: center;
    }

#titulo
    {
    display: grid;
    place-items: center;
    margin: auto;
    width: fit-content;
    border: 4px solid;
    border-radius: 150px;
    border-color: grey;
    padding: 35px;
    background-color: lightgray;
    text-align: center;
    font-size: xx-large;
    }

#adivinarNumero
    {
    font-size: 24px;
    }

#botonIniciar
    {
    display: flex;
    flex: 1;
    align-items: center;
    margin: auto;
    font-size: 24px;
    }

.contenedor
    {
        display: flex;
    }

.bloques
    {
    flex: 1;
    border: 4px solid;
    border-radius: 25px;
    border-color: grey;
    padding: 25px;
    margin: 5%;
    background-color: lightgray;
    text-align: center;  
    width: fit-content;
    }

#adorno
    {
    max-width: 100%;
    height: auto;
    border-radius: 25px;
    }

#historial
    {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 25px;
    padding: 25px;
    font-size: large;
    font-weight: bold;
    }   

#botonIniciar
    {
    padding: 25px;
    margin: 45px;
    margin-left: auto;
    margin-right: auto;   
    }

#links
    {
    padding: 25px;
    margin: 25px;        
    text-align: center;
    font-size: x-large;
    }